body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 
}

header {
    background-image: url("HeaderImage.jfif");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
    margin-top: auto;
    color: white;
    padding-left: 20px;
}



h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-size: 40px;
}

.top-menu {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
}

.top-menu ul {
    margin: 0;
    padding: 0;
}

.top-menu li {
    display: inline-block;
    margin-right: 10px;
}

.top-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.top-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

body{
    background-image: url("Background.jpg");
}